.img-con{
    width: 100%;
    height: 300px;
    text-align: center;
    padding-top: 15px;
    img{
        width: 270px;
        height: 270px;
        border-radius: 100%;
    }
}
.info-con{
    text-align: center;
}
.bg-gray{
    background-color: #302d2d;
    color: white;
}