<div class="modal-header bg-blue">
  <h4 class="modal-title" id="modal-basic-title">USER</h4>
</div>
<div class="modal-body">
  <form #userForm="ngForm">
    <div class="form-group">
      <label for="firstname">FIRSTNAME</label>
      <input
        type="text"
        class="form-control"
        id="firstname"
        name="firstname"
        [(ngModel)]="fname"
      />
    </div>
    <div class="form-group">
      <label for="description">description</label>
      <input
        type="text"
        class="form-control"
        id="description"
        name="description"
        [(ngModel)]="lname"
      />
    </div>
    <div class="form-group">
      <label for="pwd">OCCUPATION</label>
      <input
        type="text"
        class="form-control"
        id="occupation"
        name="occupation"
        [(ngModel)]="occu"
      />
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="closeModal()">
    cancel
  </button>
  <button
    type="submit"
    class="btn btn-primary"
    (click)="submitUser(userForm.value)"
  >
    Submit
  </button>
</div>
