<div class="container">
  <table class="table table-dark table-hover" id="todo">
    <thead>
      <tr>
        <th>ID</th>
        <th>FIRST</th>
        <th>description</th>
        <th>OCCUPATION</th>
        <th>PROFILE</th>
        <th>
          ACTIONS
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let user of users
            | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize
        "
      >
        <td>{{ user.id }}</td>
        <td>{{ user.firstname }}</td>
        <td>{{ user.description }}</td>
        <td>{{ user.occupation }}</td>
        <td>
          <button
            type="button"
            class="btn btn-secondary"
            (click)="openProfileModal(user)"
          >
            view
          </button>
        </td>
        <td>
          <button
            type="button"
            class="btn bg-c-dg"
            (click)="openSaveModal(user)"
          >
            update
          </button>
          <button
            type="button"
            class="btn btn-danger"
            (click)="openDeleteModal(user)"
          >
            delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div>
    <div>
      <button
        type="button"
        class="btn btn-dark ml-75"
        (click)="openSaveModal()"
      >
        add
      </button>
    </div>
    <div class="page">
      <ngb-pagination
        [collectionSize]="users.length"
        [(page)]="page"
        [pageSize]="pageSize"
      ></ngb-pagination>
    </div>
  </div>
</div>
