body{
    margin: auto;
    padding: 0;
    padding-bottom: 30px;
    font-family: 'Courier New', Courier, monospace;
    max-width: 800px;
    box-shadow: 2px 2px 5px 1px;
}
table{
    margin-top: 30px;
}
button{
    width: 80px;
    height: 35px;
    font-size: 2px;
    padding: 0;
    margin: 1px;
}

